html,body{
    height: 100%;

}
body{
    overflow: hidden;
}
.list_contain{
    width: 100%;
    height: 100%;
}
.list_header{
    width: 100%;
    height:45px;
    background-image: url("../images/header-bg.png");
    background-size: 1px 44px;
    background-repeat: repeat-x;
    padding-left: 40px;
    padding-right: 50px;
    position: relative;
}
.list_header a:nth-child(1){
    line-height: 45px;
    color: gray;
    font-size: 35px;
    font-family: 'ו';
    position: absolute;
    left: 10px;
}
.list_header input{
    width: 100%;
    height: 31px;
    margin-top: 7px;
    border-radius: 5px;
    border: 1px solid #eee;
}
.list_header a:nth-child(3){
    background-image: url(../images/sprites.png);
    background-size: 200px 200px;
    background-position: -60px 0;
    width: 40px;
    height: 44px;
    position: absolute;
    right: 10px;
    top: 0px;
    padding: 12px 10px;
    background-origin: content-box;
    background-clip: content-box;
}
.list_left{
    width: 90px;
    height: 100%;
}
.list_left ul{
    width: 100%;
}
.list_left ul li{
    width: 100%;
    border-bottom:1px solid #000;
    border-right: 1px solid #000;
    text-align: center;
    height: 50px;
    line-height: 50px;
}

.list_left ul li a{
   color: #000;
}
.list_left ul  .current{
    border-right: none;
    color: #ff0000;
}
.list_left ul  .current a{
    color: rgb(201, 21, 35);
}
.list_content .list_right {

    overflow: hidden;
    padding: 10px 10px 0;

}
.list_content .list_right .right_banner {
    display:block;
    width: 100%;
}

.list_content .list_right .right_banner img{
    display: block;
    width: 100%;

}
.list_right h3{
    padding: 10px 10px;
}
.list_right ul{
    width: 100%;
}
.list_right ul li{
    float: left;
    width: 33.333%;
}
.list_right ul li a{
    display: block;
}
.list_right ul li a img{
    width: 80%;
    margin: 0 auto;
    display: block;

}
.list_right ul li p{
    text-align: center;
    font-size: 14px;
}